{% extends 'base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'style4.css' %}">{% endblock css %}
{% block tag1 %}<li><a href="#">Sign-Up </a></li> {% endblock tag1 %}
{% block content %}

<div id='test'>
  <form action="book">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="name" placeholder="Your name..">
    <label for="id">Give an ID </label>
    <input type="text" id="id" name="id" placeholder="Give any ID and Remember it">
    <span> Select Your Time-Slot </span>
    <select name="timeslot">
        <option value="9am">9 AM - 10AM
        </option>
        <option value="10am">10 AM - 11AM
        </option>
        <option value="11am">11 AM - 12 PM
        </option>
        <option value="12pm">12 PM - 1 PM
        </option>
        <option value="1pm">1 PM - 2 PM
        </option>
        <option value="2pm">2 PM - 3 PM
        </option>
        <option value="3pm">3 PM - 4 PM
        </option>
        <option value="4pm">4 PM - 5 PM
        </option>
    </select>
    <label> Select The Table No. </label>
    <select name="table_no">
        <option value="1000">1000
        </option>
        <option value="1100">1100
        </option>
        <option value="1200">1200
        </option>
        <option value="1300">1300
        </option>
        <option value="1400">1400
        </option>
        <option value="1500">1500
        </option>
        <option value="1600">1600
        </option>
        <option value="1700">1700
        </option>
    </select>
    <label> Select your Table Type  </label>
    <select name="table_type">
        <option value="Normal">Normal
        </option>
        <option value="Premium">Premium
        </option>
        <option value="Premium Delux">Premium Delux 
        </option>
    </select>
    <span>Number of Guests</span>
    <input type="text" name="guest" >
    
    <input type="submit" value="Book the Table" name="b1"/>
    <input type="submit" value="Check for My Bookings" name="b1"/>
    <input type="submit" value="Update the Booking" name="b1"/>
    <input type="submit" value="Delete the Booking" name="b1"/>
  </form>
</div>


    {% endblock content %}